html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* Dark Theme styles */
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a,
.dark a,
.dark a:active {
  color: #fff;
}

.dark li {
  color: #fff;
}

.dark .nav-links {
  background-color: #40089c;
}

/* Nav Styles */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  text-decoration: underline;
  text-decoration-thickness: .2em;
  text-decoration-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .main-nav {
    align-items: unset;
  }
  .nav-links {
    display: flex;
    gap: 1.5em;
    position: static;
    width: auto;
    background: none;
  }
  .dark .nav-links {
    background-color: unset;
  }

  .nav-links a {
    display: inline-block;
  }

  .hamburger {
    display: none;
  }

}
