---
import Social from './Social.astro';
---
<footer>
  <p>
    <Social platform="github" username="voltsn" />
  </p>
</footer>

<style>
footer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
</style>
